<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>Mieleta</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

        
    </head>
    <body>
        <header th:fragment="header" class="header">   
            <nav class="navbar navbar-expand-sm navbar-warning bg-warning text-black">      
                <div class="container">        
                    <a href="/" class="navbar-brand fw-bold fs-1">MIELETA </a>
                    
                    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse " id="navbarCollapse">  
                        <ul class="navbar-nav" 
                            sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER')">
                            
                            <li class="nav-item px-2"> 
                                <a class="nav-menu-link nav-link fw-semibold "
                                   th:href="@{/maps}"
                                   >Encuentranos</a>  
                            </li>   
                            
                            <li class="nav-item px-2" sec:authorize="hasRole('ROLE_ADMIN')">
                                <a class="nav-menu-link nav-link fw-semibold " 
                                   th:href="@{/cliente/listado}"
                                   >Clientes</a>
                            </li>
                            
                            <li class="nav-item px-2" sec:authorize="hasRole('ROLE_ADMIN')">
                                <a class="nav-menu-link nav-link fw-semibold "
                                   th:href="@{/metodoPago/listado}"
                                   >Metodos de Pago</a>
                            </li>          
                            
                            <li class="nav-item px-2" sec:authorize="hasRole('ROLE_ADMIN')">
                                <a class="nav-menu-link nav-link fw-semibold "
                                   th:href="@{/publicacion/listado}"
                                   >Publicaciones</a>
                            </li>
                            
                            <li class="nav-item px-2" sec:authorize="hasRole('ROLE_ADMIN')">  
                                <a class="nav-menu-link nav-link fw-semibold "
                                   th:href="@{/articulo/listado}"
                                   >Productos</a>                          
                            </li> 
                            
                            <li class="nav-item px-2" sec:authorize="hasRole('ROLE_ADMIN')">
                                <a class="nav-menu-link nav-link fw-semibold "
                                   th:href="@{/categoria/listado}"
                                   >Categorias</a>
                            </li>    
                        </ul>    
                    </div>  
                    
                    <div>
                        <ul class="navbar-nav" sec:authorize="!isAuthenticated()">
                            <li class="nav-item px-2">
                                <a class="nav-menu-link nav-link" th:href="@{/login}">
                                    <i class='fas fa-sign-in-alt'></i>
                                </a>
                            </li>                            
                        </ul>
                        <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                            <li class="nav-item text-black my-auto">
                                <i class='fas fa-user'></i> <span sec:authentication='name'>Santi</span>
                            </li>
                            <li class="nav-item my-auto">
                                <form method="post" th:action="@{/logout}">
                                    <button class="btn btn-warning">
                                        <i class="fas fa-sign-out-alt"></i>
                                    </button>
                                </form>
                            </li>                            
                        </ul>
                    </div>
                    
                </div>   
            </nav>   

        </header>    
        
        
        
        <footer th:fragment="footer" class=" bg-warning  text-black">  
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Contáctanos</h3>
                         <p>MIELETA, productos hechos a mano 2023 &COPY; </p>
                        <p>Si tienes alguna pregunta o sugerencia, no dudes en contactarnos:</p>
                        <ul class="contact-info">
                            <li><a href="mailto:mieleta@gmail.com"><i class="fa fa-envelope"></i> mieleta@gmail.com</a></li>
                            <li><a href="tel:+83497326"><i class="fa fa-phone"></i> (506) 8349-7326</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h3>Síguenos</h3>
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>   
        </footer>
    </body>
</html>
