<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Mieleta</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <article>

            <div class="d-grid gap-2 col-6 mx-auto">
                <p class="fs-2">Google maps</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1965.2105196369714!2d-84.00607696380484!3d9.89884709172547!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e1a1c8c1b7dd%3A0xf27844ff55cdb9e3!2sMieleta!5e0!3m2!1ses-419!2scr!4v1682476274049!5m2!1ses-419!2scr" 
                        width="1500" height="650" style="border:0;" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <br>
                
                <a href="https://www.waze.com/en/live-map/directions/cr/provincia-de-cartago/cartago/mieleta?place=ChIJ3bfByKHhoI8R47nNVf9EePI"
                   class ="btn btn-primary"> Ir con waze </a>
                <br>          
                
            </div>
        </article>

        <footer th:replace="~{layout/plantilla :: footer} "/>
    </body>
</html>