<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Mieleta</title>
        <meta charset="UTF-8"/>
    </head>
    <body>

        <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarPublicacion">
                            <i class="fas fa-user-plus"></i> Agregar Publicacion
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2 Fragmento para agregar publicacion, es la ventana modal -->
        <section th:fragment="agregarPublicacion">
            <div id="agregarPublicacion" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">Agregar Publicacion</h5>
                            <button type="button" 
                                    class="btn-close" 
                                    data-bs-dismiss="modal" 
                                    aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/publicacion/guardar}" th:object="${publicacion}"
                              method="POST" class="was-validated">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="titular">Titular</label>
                                    <input type="text" class="form-control" name="titular" 
                                           placeholder="Ingrese un titular para la publicacion">
                                </div>                               
                                <div class="mb-3">
                                    <label for="imagen">Imagen</label>
                                    <input type="text" class="form-control" name="imagen"
                                           placeholder="Ingrese el url de la imagen de la publicacion">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3 Sección principal para mostrar la informacion de la entidad publicacion -->
        <section th:fragment="listadoPublicaciones" id="publicaciones">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>Listado de Publicaciones</h4></div>
                            <div th:if="${publicaciones != null and !publicaciones.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr><th>#</th>
                                            <th>Titular</th>
                                            <th></th></tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="publicacion, contador : ${publicaciones}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${publicacion.titular}]]</td>
                                            <td><a th:href="@{/publicacion/eliminar/}+${publicacion.idPublicacion}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> Eliminar</a>
                                                <a th:href="@{/publicacion/modificar/}+${publicacion.idPublicacion}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> Modificar</a></td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${publicaciones == null or publicaciones.empty}">
                                <span>Lista vacía</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3>Total Publicaciones</h3>
                                <h4 class="fs-2"><i class="fas fa-users"></i> [[${totalPublicaciones}]]</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 4 Fragmento que se utiliza en la página modifca.html -->
        <section th:fragment="editarPublicacion">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/publicacion/guardar}" th:object="${publicacion}"
                          class="was-validated">
                        <input type="hidden" name="idPublicacion" th:field="*{idPublicacion}"/>
                        <section th:replace="~{publicacion/fragmentos :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header bg-info">
                                                <h4>Actualizar Publicacion</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="titular">Titular</label>
                                                    <input type="text" class="form-control" 
                                                           name="titular" th:field="*{titular}"
                                                           
                                                           placeholder="Ingrese un titular para la publicacion">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="imagen">Imagen</label>
                                                    <input type="text" class="form-control" 
                                                           name="imagen" th:field="*{imagen}"
                                                           
                                                           placeholder="Ingrese el url de la imagen de la publicacion">

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/publicacion/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> Regresar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/publicacion/eliminar/}+${publicacion.idPublicacion}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> Eliminar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> Guardar
                        </button>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>